<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>359597515258-44iged4n0bf03m40g456nbptj2jh6j7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359597515258-44iged4n0bf03m40g456nbptj2jh6j7p</string>
	<key>API_KEY</key>
	<string>AIzaSyDKOHvw69MQBKvhsdBhWwa4ki6yrVYZ4OM</string>
	<key>GCM_SENDER_ID</key>
	<string>359597515258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Othman.FinalAssessment</string>
	<key>PROJECT_ID</key>
	<string>finalassessment-526c0</string>
	<key>STORAGE_BUCKET</key>
	<string>finalassessment-526c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:359597515258:ios:483b44e2a3518ebe</string>
	<key>DATABASE_URL</key>
	<string>https://finalassessment-526c0.firebaseio.com</string>
</dict>
</plist>